<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- 컨텐츠 영역 -->
<div class="admin-contents" layout:fragment="content">
    <div class="admin-contents-header">
        <h2>제품설명</h2>
        <div class="path"><i class="bi bi-house-door-fill"></i> 메인 &gt;
            <th:block th:if="${brandCode == 'M'}"> 미놀 </th:block>
            <th:block th:if="${brandCode == 'P'}"> PM </th:block>
            <th:block th:if="${brandCode == 'J'}"> 자하 </th:block>
            &gt; 제품설명 </div>
    </div>
    <div class="table-responsive">
        <form action="minol-banner-edit.html">
            <table class="table table-striped">
                <colgroup>
                    <col width="20%" />
                    <col width="60%" />
                    <col width="20%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">변경</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productList}">
                    <td th:text="${product.productOrder}"></td>
                    <td th:text="${product.productName}"></td>
                    <td>
                        <a th:href="@{../edit/{brandCode}/{productName}(brandCode=${product.brandCode},productName=${product.productName})}" th:text="수정" class="btn btn-secondary btn-sm"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div class="d-md-flex justify-content-md-end">
            <a th:href="@{../write/{brandCode}(brandCode=${brandCode})}" th:text="등록" class="btn btn btn-primary"></a>
        </div>
    </div>
</div>
</html>
