<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- 컨텐츠 영역 -->
<div class="admin-contents" layout:fragment="content">
    <div class="admin-contents-header">
        <h2>배너관리</h2>
        <div class="path"><i class="bi bi-house-door-fill"></i> 메인 &gt; [[${banner.brandName}]] &gt; 배너관리</div>
    </div>
    <div class="table-responsive">
        <form id="editFrm" method="post" enctype="multipart/form-data">
            <input type="hidden" name="bannerSeq" th:value="${banner.bannerSeq}">
            <table class="table table-edit">
                <colgroup>
                    <col width="10%" />
                    <col width="8%" />
                    <col width="45%" />
                    <col width="37%" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="col">번호</th>
                    <td colspan="3" th:text="${banner.bannerOrder}"></td>
                </tr>
                <tr>
                    <th scope="col">제목</th>
                    <td colspan="3">
                        <div class="mt-3 mb-2 col-md-9">
                            <input class="form-control" type="text" placeholder="제목을 입력하세요" name="bannerName" id="bannerName" maxlength="50"  th:value="${banner.bannerName}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="col" rowspan="4">이미지</th>
                    <td class="align-center">PC</td>
                    <td colspan="2">
                        <div class="input-group mb-3">
                            <label for="bannerPcFile" class="form-label"></label>
                            <input class="form-control" type="file" id="bannerPcFile" name="bannerFile">
                            <button class="btn btn-secondary" type="button" onclick="fileDown('P');">다운로드</button>

                        </div>
                        <div class="attention">
                            <dl>
                                <dt class="red"><i class="bi bi-exclamation-circle"></i> 이미지 파일 업로드 유의사항</dt>
                                <dd>- 이미지 규격 : 1920*980(px)</dd>
                                <dd>- 등록가능 파일 : jpg, jpeg, gif, png 파일</dd>
                            </dl>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="align-center">링크</td>
                    <td>
                        <div class="mt-2 mb-2">
                            <input class="form-control col-md-8" type="text" name="bannerPcUrl" maxlength="1000" placeholder="http://" th:value="${banner.bannerPcUrl}">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline col-sm-10 mt-3 mb-2">
                            <input class="form-check-input" type="checkbox" value="1" name="bannerPcIsNew" id="bannerPcIsNew" th:checked="${banner.bannerPcIsNew}">
                            <label class="form-check-label" for="bannerPcIsNew">새 창 열림</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="align-center">모바일</td>
                    <td colspan="2">
                        <div class="input-group mb-3">
                            <label for="bannerMoFile" class="form-label"></label>
                            <input class="form-control" type="file"  id="bannerMoFile" name="bannerFile">
                            <button class="btn btn-secondary" type="button" onclick="fileDown('M');">다운로드</button>
                        </div>
                        <div class="attention">
                            <dl>
                                <dt class="red"><i class="bi bi-exclamation-circle"></i> 이미지 파일 업로드 유의사항</dt>
                                <dd>- 이미지 규격 : 360*640(px)</dd>
                                <dd>- 등록가능 파일 : jpg, jpeg, gif, png 파일</dd>
                            </dl>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="align-center">링크</td>
                    <td>
                        <div class="mt-2 mb-2">
                            <input class="form-control col-md-7" type="text" name="bannerMoUrl" maxlength="1000" placeholder="http://" th:value="${banner.bannerMoUrl}">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline col-sm-10 mt-3 mb-2">
                            <input class="form-check-input" type="checkbox" value="1" name="bannerMoIsNew" id="bannerMoIsNew" th:checked="${banner.bannerMoIsNew}">
                            <label class="form-check-label" for="bannerMoIsNew">새 창 열림</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-md-flex justify-content-md-end">
                <a href="javascript:void(0);" id="btnCancel" class="btn btn-secondary me-md-2" type="button">취소</a>
                <a href="javascript:void(0);" id="btnEdit" class="btn btn-primary" type="button">등록</a>
            </div>
        </form>
    </div>
</div>
</html>
<script th:inline="javascript">
    $("#btnCancel").click(function() {
        if(confirm('배너 등록을 취소하시겠습니까?')){
            location.reload();
        }
    });

    $("#btnEdit").click(function() {
        if(confirm('등록을 완료 하시겠습니까?')){
            if($("#bannerName").val() == "") {
                alert("베너 제목을 입력하세요.");
            } else {
                var form = $('#editFrm')[0];
                var data = new FormData(form);

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/banner/modify',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        if(data.result == "success"){
                            alert("정상적으로 수정되었습니다.");
                            location.href= "/" + [[${menuCode}]] +  "/list/" + [[${brandCode}]];
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (e) {
                        alert(e.responseText);
                        //console.log('ERROR : ', e);0
                    }
                });
            }
        }
    });
    function fileDown(flag) {
        window.location.href="/banner/download/" + flag + "/" + [[${bannerSeq}]];
    }

</script>
