<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- 컨텐츠 영역 -->
<div class="admin-contents" layout:fragment="content">
    <div class="admin-contents-header">
        <h2>약국찾기</h2>
        <div class="path"><i class="bi bi-house-door-fill"></i> 메인 &gt; 약국찾기 </div>
    </div>
    <div class="table-responsive">
        <table class="table table-edit">
            <form id="excelFrm" method="post" enctype="multipart/form-data">
                <colgroup>
                    <col width="10%" />
                    <col width="90%" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="col">파일</th>
                    <td>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="excelFile" name="excelFile" aria-describedby="btnUpload" aria-label="Upload">
                            <a href="javascript:void(0);" id="btnUpload" class="btn btn-secondary" type="button">확인</a>
                            <!--<a href="javascript:confirm('파일을 삭제하시겠습니까?')" class="btn btn-danger" type="button" id="inputGroupFileAddon04">삭제</a>-->
                        </div>
                        <div class="excel-sample-file">
                            <a href="/file/sample.xlsx"><img src="/img/excel-img.png" />엑셀 샘플 파일보기</a>
                            <ul class="mt-3 info">
                                <li>Brand는 미놀 : M / 자하생력 : J / 피엠 : P로 넣어주십시오.</li>
                                <li>Product는 제품명을 띄어쓰기까지 맞춰서 넣어주셔야 검색이 됩니다.</li>
                                <li>파일 업로드와 함께 위/경도 Data를 처리하기 때문에 10분 이상 작업이 소요됩니다.</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </form>
        </table>
    </div>

    <!-- <button type="button" onclick="loadingOpen('lodaing')"></button> -->
    <div class="lodaing">
        <div class="popup-wrap">
            <img src="/img/lodaing.gif" alt="">
        </div>
    </div>
</div>
</html>
<script th:inline="javascript">
    $("#btnUpload").click(function() {
        if($("#excelFile").val() == "") {
            alert("엑셀파일을 첨부하세요.");
        } else {
            if(confirm("약국등록은 10분 이상 시간이 소요되므로, 창을 이동하지 말고 유지해 주세요.")) {
                var form = $('#excelFrm')[0];
                var data = new FormData(form);

                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/store/excelUpload',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    beforeSend : function(request){
                        // Performed before calling Ajax
                        loadingOpen('lodaing');
                    },
                    /*timeout: 600000,*/
                    success: function (data) {
                        lodaingClose('lodaing');
                        if (data.result == "success") {
                            alert(data.message);
                            location.reload();
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (e) {
                        lodaingClose('lodaing');
                        alert(e.responseText);
                        //console.log('ERROR : ', e);
                    }
                });
            }
        }
    });
</script>