<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<header th:fragment="headerFragment">
    <h1><a href="/index"><i class="bi bi-gear-fill"></i>관리자 페이지</a></h1>
    <div class="navbar-wrap">
        <div class="nav-item">
            <ul>
                <li><a class="nav-link" href="/pass"><i class="bi bi-key"></i> 비밀번호 변경</a></li>
                <li><a class="nav-link" href="/logout"><i class="bi bi-person-x-fill"></i> 로그아웃</a></li>
            </ul>
        </div>
    </div>
</header>
</html>