<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--menuFragment 선언-->
<div class="admin-menu"  th:fragment="menuFragment">
    <h2>Menu</h2>
    <ul>
        <li>
            <button><i class="bi bi-list"></i>미놀</button>
            <ul>
                <li><a href="/banner/list/M"><i class="bi bi-image"></i>배너관리</a></li>
                <li><a href="/popup/list/M"><i class="bi bi-window-x"></i>팝업관리</a></li>
                <li><a href="/product/list/M"><i class="bi bi-card-text"></i>제품설명</a></li>
            </ul>
        </li>
        <li>
            <button><i class="bi bi-list"></i>PM</button>
            <ul>
                <li><a href="/banner/list/P"><i class="bi bi-image"></i>배너관리</a></li>
                <li><a href="/popup/list/P"><i class="bi bi-window-x"></i>팝업관리</a></li>
                <li><a href="/product/list/P"><i class="bi bi-card-text"></i>제품설명</a></li>
            </ul>
        </li>
        <li>
            <button><i class="bi bi-list"></i></i>자하생력</button>
            <ul>
                <li><a href="/popup/list/J"><i class="bi bi-window-x"></i>팝업관리</a></li>
                <li><a href="/product/list/J"><i class="bi bi-card-text"></i>제품설명</a></li>
            </ul>
        </li>
        <li>
            <button><i class="bi bi-list"></i></i>약국찾기</button>
            <ul>
                <li><a href="/store/excel"><i class="bi bi-filetype-xlsx"></i>엑셀 파일업로드</a></li>
            </ul>
        </li>
    </ul>
</div>