<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- 컨텐츠 영역 -->
<div class="admin-contents" layout:fragment="content">
    <div class="admin-contents-header">
        <h2>비밀번호 변경</h2>
        <div class="path"><i class="bi bi-house-door-fill"></i> 메인 &gt; 비밀번호 변경</div>
    </div>
    <div class="password-edit-wrap">
        <form class="needs-validation" id="passFrm">
            <div class="col-form-label">
                <label for="nowPass" class="form-label">현재 비밀번호</label>
                <input type="password" class="form-control" id="nowPass" name="nowPass" maxlength="12" required>
                <!--<div class="invalid-feedback">
                    현재 비밀번호를 입력해주세요.
                </div>-->
            </div>
            <div class="col-form-label">
                <label for="newPass" class="form-label">새 비밀번호</label>
                <input type="password" class="form-control" id="newPass" name="newPass" maxlength="12" required>
                <!--<div class="invalid-feedback">
                    새 비밀번호를 입력해주세요.
                </div>-->
            </div>
            <div class="col-form-label mb-2">
                <label for="newPassCheck" class="form-label">새 비밀번호 확인</label>
                <input type="password" class="form-control" id="newPassCheck" name="newPassCheck" maxlength="12" required>
                <!--<div class="invalid-feedback">
                    변경할 비밀번호가 다릅니다.
                </div>-->
            </div>
            <div class="d-md-flex justify-content-md-end">
                <a href="javascript:void(0);" id="btnCancel" class="btn btn-secondary me-md-2" type="button">취소</a>
                <a href="javascript:void(0);" id="btnEdit" class="btn btn-primary" type="button">등록</a>
            </div>
        </form>
        <!--<script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>-->
    </div>
</div>
</html>
<script th:inline="javascript">
    $("#btnCancel").click(function() {
        if(confirm('비밀번호 변경을 취소하시겠습니까?')){
            window.location.href="/index";
        }
    });

    $("#btnEdit").click(function() {
        if($("#nowPass").val() == "") {
            alert("현재 비밀번호를 입력해 주세요.");
        } else if($("#newPass").val() == "") {
            alert("새 비밀번호를 입력해 주세요.");
        }  else if($("#newPassCheck").val() == "") {
            alert("새 비밀번호를 다시 한번 입력해 주세요.");
        }  else if($("#newPass").val() != $("#newPassCheck").val()) {
            alert("새 비밀번호가 다릅니다. 확인해 주세요.");
        } else {
            if(confirm('비밀번호를 변경하시겠습니까?')){

                var form = $('#passFrm')[0];
                var data = new FormData(form);

                $.ajax({
                    type: 'POST',
                    url: '/modify',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        if(data.result == "success"){
                            alert("정상적으로 수정되었습니다.");
                            location.href= "/index";
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (e) {
                        alert(e.responseText);
                        //console.log('ERROR : ', e);0
                    }
                });
            }
        }
    });
    function fileDown(flag) {
        window.location.href="/banner/download/" + flag + "/" + [[${bannerSeq}]];
    }

</script>